<!DOCTYPE html>
<html>
    <head>
        <title>See you again</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body style="background-image: linear-gradient(to bottom right, white, skyblue); height: 100vh;">
        <div class="greeting" style="text-align: center; margin-top: 10rem;">
            <div style="border: darkblue dashed 1px; padding: 2rem;">
                <h3>You account has been logged out</h3>
                <h2>See you again soon</h2>    
                <a href="{% url 'index' %}">Login again?</a>          
            </div>
        </div>
    </body>